@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.details-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


#details-event {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  font-size: 2rem;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#-details-event h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  background-color: transparent;
}

.back-arrow{
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;
    color: #97FB57;
}

.back-arrow:hover{
  cursor:pointer;
}


#details-event h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

#details-event h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#details-event label{
    display: block;
    background-color: transparent;
}

.p {
  text-align: center;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


