.page {
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
    background-image: url("../images/990003.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    list-style-type: none;
    overflow: hidden;
}

.h1 {
    text-align: center;
}

.card-events {
    width: 100%;
    list-style-type: none;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-buttons {
    background-color: transparent;
    border-color: black;
    height: 2em;
    width: 2em;
    
}

.event-paragraph {
    text-align: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
}

@media (max-width: 600px) {
.h1 {
    padding-top: 20px;
}

.event-paragraph {
    text-transform: none;
    justify-content: center;
    text-transform: uppercase;
}

}